################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Program01/.vs/Program01/v16/Server/sqlite3
/Program01/.vs/Program01/v16
/Program02/.vs/Program02/v16
/program03/.vs/program03/v16
/Program04
/Program05/.vs/Program05/v16
/Program06/.vs/Program06/v16
/Program07MethodTest/.vs/Program07MethodTest/v16
