################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Program01/.vs/Program01/v16/Server/sqlite3
/Program01/.vs/Program01/v16
/Program02/.vs/Program02/v16
/program03/.vs/program03/v16
/Program04
/Program05/.vs/Program05/v16
/Program06/.vs/Program06/v16
/Program07MethodTest/.vs/Program07MethodTest/v16
/Program08Recursion/.vs/Program08Recursion/v16
/Program07MethodTest/.vs/Program07MethodTest/DesignTimeBuild
/CsharpRace/.vs/CsharpRace/v16
/CsharpRace02/.vs/CsharpRace02/v16
/Program09Const/.vs/Program09Const/v16
/CsharpRace02/.vs/CsharpRace02/DesignTimeBuild
/Program09Const/.vs/Program09Const/DesignTimeBuild
/Program10Enum/.vs/Program10Enum/v16
/Program10Enum/.vs/Program10Enum/DesignTimeBuild
/Program11Struct/.vs/Program11Struct/v16
/Program12MyColor/.vs/Program12MyColor/v16
